@model ITI.MVC.LinkedIn.Web.Models.ViewModels.CoursesVM
<div class="modal fade" id="CoursesModal" tabindex="-1" role="dialog" aria-labelledby="FullModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content row">
            <div class="modal-header">
                <h5 class="modal-title" id="FullModalLabel">Add Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-controls">
                        <div class="form-group">
                            <label for="" class="required">Course Name</label>
                            <input class="form-control" type="text" name="" id="" placeholder="Add Course">
                        </div>
                        <div class="form-group">
                            <label for="" class="required">Number</label>
                            <input class="form-control" type="text" name="" id="" placeholder="Add Number">
                        </div>

                        <div class="form-group">
                            <label for="">Employment type</label>
                            <select class="form-control" name="" id="">
                                <option value="" disabled selected hidden>-</option>
                                <option value="">Opa</option>
                                <option value="">Opaa</option>
                                <option value="">Opaaa</option>
                                <option value="">Opaaaa</option>
                                <option value="">Opaaaaa</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
