@model ITI.MVC.LinkedIn.Web.Models.ViewModels.LanguageVM
@{
    AjaxOptions opts;
    string action = ViewBag.actionName;
    if (Model.userlanguageCount > 0)
    {
        if (action == "EditLanguage")
        {
            opts = new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "LanguageColl",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "SucessEditUserLanguage(data)"


            };
        }
        else
        {
                opts = new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "LanguageColl",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "SucessUserLanguage()"


            };
        }
    }
    else
    {
        opts = new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "acc-container",
            InsertionMode = InsertionMode.InsertAfter,
            OnSuccess = "SucessUserLanguage()"


        };
    }
}

@using (Ajax.BeginForm(action, "Profile", opts))
{
    <div class="form-controls">
        <div class="form-group">
            <label for="#LanguageName" class="required">Language</label>
            @Html.EditorFor(model => model.LanguageName, new { htmlAttributes = new { @class = "form-control", placeholder = "Add Language" } })
        </div>
        <div class="form-group">
            <label for="">Proficiency</label>
            @Html.EnumDropDownListFor(e => e.Proficiency, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(e => e.userlanguageCount)
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    @if (action == "EditLanguage")
    {
        @Ajax.ActionLink("delete", "DeleteLanguage", new { id = Model.id }, opts, new { @class = "btn btn-primary" })
    }
</div>
}
