@model ITI.MVC.LinkedIn.Web.Models.ViewModels.WorkExperinceVM
<div class="modal fade" id="WorkExperince" tabindex="-1" role="dialog" aria-labelledby="FullModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content row">
            <div class="modal-header">
                <h5 class="modal-title" id="FullModalLabel">Add experience</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-controls">
                        <div class="form-group">
                            <label for="" class="required">Title</label>
                            <input class="form-control" type="text" name="" id="" placeholder="Title">
                        </div>
               
                        <div class="form-group">
                            <label for="">Employment type</label>
                            <select class="form-control" name="" id="">
                                <option value="" disabled selected hidden>-</option>
                                <option value="">Opa</option>
                                <option value="">Opaa</option>
                                <option value="">Opaaa</option>
                                <option value="">Opaaaa</option>
                                <option value="">Opaaaaa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="required">Company</label>
                            <input class="form-control" type="text" name="" id="" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <label for="" class="">Location</label>
                            <input class="form-control" type="text" name="" id="" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="checkbox" name="" id="CurrentlyWorking">
                                    <span>
                                    I am
                                    currently working in this role
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="" class="required">Start Date</label>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            @Html.DropDownListFor(e => e.StartMonth, EnumHelper.GetSelectList(typeof(ITI.MVC.LinkedIn.Web.Models.Enums.MonthEnum)), "Month", new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(e => e.StartYear, new SelectList(ITI.MVC.LinkedIn.Web.Models.Enums.YearList.YearListFun()), "Year", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="required">End Date</label>
                                    <h4 id="PresentWorkDate">Present</h4>
                                    <div class="row" id="EndWorkDate">
                                        <div class="col-sm-12">

                                            @Html.DropDownListFor(e => e.EndMonth, EnumHelper.GetSelectList(typeof(ITI.MVC.LinkedIn.Web.Models.Enums.MonthEnum)), "Month", new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(e => e.EndYear, new SelectList(ITI.MVC.LinkedIn.Web.Models.Enums.YearList.YearListFun()), "Year", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
