@model CreatePostVM

@using (Ajax.BeginForm("CreatePost", "Feed", new AjaxOptions
{
    OnSuccess = "onPostSuccess",
    OnFailure = "onPostFailure"
}, new { enctype = "multipart/form-data" }))
{
    <div class="create-post ">
        <div class="writePost">
            <button type="button" class="button button-post button-border" data-toggle="modal" data-target="#post">
                <i class="far fa-edit post-icon"></i>
                <span>Start a post</span>
            </button>
            <button type="button" class="button button-icons button-border">
                <label class="mypost-label" data-toggle="modal" data-target="#picture">
                    <i class="fas fa-camera"></i>
                    @Html.TextBoxFor(m => m.UploadedFile, new { type = "file", formmethod = "post" })
                </label>
        </div>
        <div class="modal fade" id="post" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="mypost">
                            <div class="mypost-header">
                                <h2>Create a post</h2>
                                <button type="button" class="close mypost-close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- <div class="post-close">
                                    <i class="fas fa-times"></i>
                                </div> -->
                            </div>
                            <div class="mypost-body">
                                <div class="mypost-body_top">
                                    <div class="mypost-profilepic"></div>
                                    <span>UserName</span>
                                </div>
                                <div class="mypost-body_middle">
                                    @Html.TextAreaFor(m => m.PostContent, new
                                       {
                                           rows = "12",
                                           id = "textEditor",
                                           placeholder = "What do you want to talk about?"
                                       })
                                </div>
                                <div class="mypost-body_bottom">
                                    <div class="mypost-body_bottomContent">
                                        <button type="button" class="mypost-hashtag">Add hashtag</button>
                                        <span>Help the right people see your post</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mypost-footer">
                                <div class="mypost-footer_media">
                                    <button type="button" class="button button-icons button-footer">
                                        <label class="mypost-label" data-toggle="modal" data-target="#picture">
                                            <i class="fas fa-camera"></i>
                                            <input type="file" multiple />
                                        </label>
                                    </button>
                                    <button type="button" class="button button-icons button-footer">
                                        <label class="mypost-label" data-toggle="modal" data-target="#video">
                                            <i class="fas fa-video"></i>
                                            <input type="file" multiple />
                                        </label>
                                    </button>
                                    <button type="button" class="button button-icons button-footer">
                                        <label class="mypost-label" data-toggle="modal" data-target="#document">
                                            <i class="far fa-file-alt"></i>
                                            <input type="file" multiple />
                                        </label>
                                    </button>
                                </div>
                                <div id="postFailureMsg" class="mypost-footer_error-msg hide"></div>
                                <div class="mypost-footer_publish">
                                    <button type="submit" class="mypost-footer_publish-btn mypost-footer_publishEnabele mypost-footer_publishDisable">
                                        Post
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/Feed/create-post.js"></script>
}
